html
    head
        title InstaUpload
        style
            include ../style/index.css
    body
        div(class="container center flex-col")
            div
                a(class="logo" href="/images")
                    img(src="/images/logo.svg")
                    div(class="") InstaUpload
            div(class="center notFound") 404
            div(class="center notFound") This page doesn't exit