html
    head
        title InstaUpload
        style
            include ../style/index.css
    body
        div(class="container")
            div(class="center container flex-col")
                div
                    a(class="logo" href="/images")
                        img(src="/images/logo.svg")
                        div(class="") InstaUpload
                div(class="center")
                    img(src=image.url alt=image.name class="")
